/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 19, 2018, 12:16:08 PM
    Author     : java
*/
h2 {
    font-size: 1.8em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    color:#3232ad;
    font-weight: bold;
}
.loginPanel {
    width: 50%; 
    margin: 0 auto;
    background: #E5E5E5;
}

.infoPanel {
    margin-bottom:20px;
    background: #efefef;
}

/*
body {
    background-image: url('images/shopping-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
} */

.language_chooser1 {

    position: absolute;
    right: 35px;
    top: -4px;
    padding: 0;
    margin: 0;
    width: 50px;
    height: 25px;
    list-style: none;
    text-align: center;

}

.language_chooser2 {

    position: absolute;
    right: 2px;
    top: -4px;
    padding: 0;
    margin: 0;
    width: 50px;
    height: 25px;
    list-style: none;
    text-align: center;

}

.language_mk {
    width:50px;
    height:50px;
}

.language_en {
    width:50px;
    height:50px;
}

.footer {
    position: absolute; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}

a:link {
    color: green; 
    background-color: transparent; 
    text-decoration: none;
}

