<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title><h:outputText value="#{msg['homePage']}" /></title>
    </h:head>
    <h:body>
        <h:form id="form1">
            <h:panelGrid columns="2" style="background: #c7fcec;">
                <h:outputLabel value="#{msg['client.name']}" for="name" />
                <h:outputLabel value="#{msg['client.address']}" for="address" />
                
                <h:inputText id="name" value="" />
                <h:inputText id="address" value="" />
            </h:panelGrid>
        </h:form>    
    </h:body>
</html>

