<ui:composition template="/templates/masterTemplate.xhtml" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title><h:outputText value="#{msg['loginPage']}" /></title>
        <h:outputStylesheet library="css" name="login.css" />
    </h:head>
    <ui:define name="content">
    <h:body>
        <p:spacer height="150" />
        <h:form id="loginForm">
            <div class="ui-g">
                <div class="ui-g-2" />
                <div class="ui-g-8">
            <p:panel id="loginPnl" styleClass="loginPanel">
                <f:facet name="header">               
                    <p:graphicImage name="images/login-user-icon.png" width="24" height="24" />
                    <h:outputText value="#{msg.login}" style="margin-left:5px;vertical-align:super;" />
                </f:facet>

                <h:panelGrid id="grid" columns="3" cellpadding="5">
                    <p:outputLabel for="name" value="${msg['login.name']}" />
                    <p:inputText id="name" required="true" value="#{user.name}"/>
                    <p:message for="name" />

                    <p:outputLabel for="contactNumber" value="${msg['login.contactNumber']}" />
                    <p:inputText id="contactNumber" value="#{user.contactNumber}" required="true" />
                    <p:message for="contactNumber" />
                    
                </h:panelGrid>
                    <h:panelGrid columns="1" cellpadding="10" width="100%">
                        <p:commandButton id="loginButton" action="shop"
                                         value="#{msg['btn.login']}"  update="grid" style="float: right;">
                        </p:commandButton>
                    </h:panelGrid>
            </p:panel>
                </div>
                <div class="ui-g-2" />
            </div>
            <p:spacer height="140" />
            <div class="ui-g">
                <div class="ui-g-2" />
                <div class="ui-g-8">
                    <p:panel id="infoPnl" styleClass="infoPanel">
                        <h:panelGrid columns="2" cellpadding="10">
                            <h:outputText value="Online Shopping App." />
                        </h:panelGrid>
                    </p:panel>
                </div>
                <div class="ui-g-2" />
            </div>
        </h:form>
    </h:body>    
    </ui:define>
</ui:composition>

