<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <h:panelGrid columns="4" style="margin-bottom:10px" cellpadding="5" columnClasses="label, value">
                <p:outputLabel for="advanced" value="Advanced:" />
                <p:selectOneListbox id="advanced" value="#{shop.selectedProduct}" converter="productConverter" var="p">
                    <f:selectItems value="#{shop.productsList}" var="product" itemLabel="#{product.name}" itemValue="#{product}" />
                    <f:ajax event="valueChange" render="idLink nameLink idLinkText nameLinkText"/>
                    <p:column>
                        <h:outputText value="#{p.name}" />                        
                    </p:column>
                </p:selectOneListbox>
                <h:outputLabel id="idLinkText" for="idLink" value="#{shop.selectedProduct.id}" />
                <h:outputLabel id="nameLinkText" for="nameLink" value="Името на избраниот продукт е: #{shop.selectedProduct.name}" />
            </h:panelGrid>

            <p:commandButton value="Submit" update="display" process="advanced" oncomplete="PF('dlg').show()" icon="ui-icon-check" />

            <p:dialog header="Selected Values" modal="true" showEffect="fade" widgetVar="dlg" resizable="false">
                <p:panelGrid columns="2" id="display" columnClasses="label,output">
                    <h:outputText value="Advanced:" />
                    <h:outputText value="#{shop.selectedProduct}" />
                </p:panelGrid>
                <p:commandButton value="Save" action="#{shop.saveProduct}"/>
            </p:dialog>
             <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5" columnClasses="label, value">
                <h:commandLink action="page1">
                    <h:outputLabel id="idLink" for="advanced" value="#{shop.selectedProduct.id}" />
                    <f:param value="#{empty shop.selectedProduct.id ? '0' :shop.selectedProduct.id}"/>
                    <f:ajax event="click" render="idLinkText"/>
                </h:commandLink>
                <h:commandLink action="page2">
                    <h:outputLabel id="nameLink" for="advanced" value="#{shop.selectedProduct.name}" />
                    <f:param value="#{empty shop.selectedProduct.name ? 'Null' :shop.selectedProduct.name}"/> 
                    <f:ajax event="click" render="nameLinkText"/>
                </h:commandLink>
              </h:panelGrid>    
        </h:form>
    </h:body>
</html>

