<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
        <title>Tab display</title>
    </h:head>
    <h:body>
        <p:tabView>
            <c:forEach items="#{tabBean.tabs}" var="tabInfo" varStatus="vs">
                <p:tab title="#{tabInfo.nameOfTab}">
                    <!-- here goes the template -->
                    <ui:include src="/templates/tabcontent.xhtml">
                        <ui:param name="bean" value="#{tabInfo.nameOfBean}"/>
                    </ui:include>
                </p:tab>
            </c:forEach>
        </p:tabView>
        
        <h2>Products saved in Database</h2>
        <p:dataTable var="product" value="#{tabBean.products}">
            <p:column headerText="Id">
                <h:outputText value="#{product.id}"/>
            </p:column>
             <p:column headerText="Name">
                <h:outputText value="#{product.name}"/>
            </p:column>
             <p:column headerText="Description">
                <h:outputText value="#{product.description}"/>
            </p:column>
        </p:dataTable>
    </h:body>
</html>

