<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    
    <h:body>
        <h2>Hello, please log in:</h2>
        <h:form id="loginForm">
		<p:growl id="msg" showDetail="true" life="4000" />
		<p:panel id="loginPnl" header="Login"
			style="width: 350px; margin: 0 auto;">
			<h:panelGrid id="loginPanel" columns="2" cellpadding="5">
				<h:outputText value="Username" />
				<p:inputText id="username" value="#{loginBean.uname}"></p:inputText>
				<p:spacer /><p:spacer />	
				<h:outputText value="Password" />
				<p:password id="password" value="#{loginBean.password}"
					feedback="false"></p:password>
				<p:message for="password"></p:message>
			</h:panelGrid>
			<h:panelGrid columns="1" cellpadding="10" width="100%">
				<p:commandButton id="loginButton" action="#{loginBean.loginProject}"
					value="Login" update="loginForm" ajax="true" style="float: right;">
				</p:commandButton>
			</h:panelGrid>
		</p:panel>
	</h:form>    
    </h:body>
</html>

