<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:body>
        <ui:composition> 
            <div align="center">         
                <a href="https://www.facebook.com" target="_blank">
                    <p:graphicImage name="images/fb-icon.png" width="26" height="26" title="Facebook Page" />
                </a>&nbsp;
                <a href="https://www.twitter.com" target="_blank">
                    <p:graphicImage name="images/twitter-icon.png" width="24" height="24" title="Twitter Page" />
                </a>&nbsp;
                <a href="https://www.instagram.com" target="_blank">
                    <p:graphicImage name="images/instagram-icon.png" width="24" height="24" title="Instagram Page" />
                </a>
            </div>    
            <h:outputStylesheet library="css" name="login.css" />
	</ui:composition>
    </h:body>
</html>

