<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:body>
        <ui:composition>
            
            <h2 align="center">
                <p:graphicImage value="/resources/images/shopping.png" width="60" height="25" />
                #{msg['loginPage']}
            </h2>

            <ui:include src="/templates/localeTemplate.xhtml"/>		
	</ui:composition>
    </h:body>
</html>

