<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

  <h:form>
      <ul class="language_chooser1">
          
   <h:commandLink immediate="true"     
                  action="#{locale.langChanged}">
      <f:setPropertyActionListener target="#{locale.code}"                                                    
                                   value="mk_MK"/>
      <h:graphicImage library="images" name="mk.png" width="30" height="18"
                     style="border: 0px; margin-right: 1em;"/>
   </h:commandLink>
      </ul>
          <ul class="language_chooser2">
   <h:commandLink immediate="true"
                  action="#{locale.langChanged}">
      <f:setPropertyActionListener target="#{locale.code}"                                                      
                                   value="en_US"/>
      <h:graphicImage library="images" name="en.png" width="30" height="18"
                      style="border: 0px"/>
   </h:commandLink>
          
      </ul>
  </h:form>
</ui:composition>



