<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    
    <h:head>
        <title>
            <ui:insert name="title">Online Shop</ui:insert>
        </title>        
    </h:head>
       
    <h:body>
        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="110">
                <ui:include src="../templates/header.xhtml" />
            </p:layoutUnit>

            <p:layoutUnit position="center">
                <ui:insert name="content"></ui:insert>
            </p:layoutUnit>
            
            <p:layoutUnit position="south" size="50">
                <ui:include src="../templates/footer.xhtml" />
            </p:layoutUnit>

        </p:layout>
    </h:body>
</html>

