<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:form>
        <p:outputLabel for="name" value="Name:" />
        <c:if test = "#{bean.tabName eq 'Proc'}">
            <p:inputText id="name" value="#{bean.name}" />
        </c:if>
        <c:if test = "#{bean.tabName ne 'Proc'}">
            <p:autoComplete id="name" value="#{bean.name}" completeMethod="#{shop.completeText}" />
        </c:if>

        <p:outputLabel for="description" value="Description:" />
        <p:inputText id="description" value="#{bean.description}" />

        <p:outputLabel for="tabname" value="Tab Name" />
        <p:inputText id="tabname" value="#{bean.tabName}" />

        <p:commandButton value="#{msg['shopping.tabcontent.insertProduct']}" action="#{tabBean.insertProduct(bean)}"></p:commandButton>
    </h:form>
</ui:composition>

